@page "/index.html"
@page "/"
@inherits IndexPage
@inject IJSRuntime js;
@inject ILogger<IndexPage> logger;

<h1> </h1>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        logger.LogInformation("OnInitialized");
    }
}