@page "/index.html"
@page "/"
@inherits IndexPage
@using KeriAuth.BrowserExtension.UI.Layouts
@layout MainLayout
@inject IJSRuntime js;
@inject ILogger<IndexPage> logger;

<h1>Index Page</h1>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        logger.LogInformation("OnInitialized");
    }
}