:root {
    /* Override MudBlazor variables here */
    --bt-appbar-height: 4.5rem;
    --bt-buttontray-height: 4.3rem;
}

.mud-appbar .mud-toolbar-appbar {
    /* Fixed height. We don't want Mudblazor default of changing height depending on media width */
    height: var(--bt-appbar-height);
    padding:0 0 0 0;
}

.bt-appbar {
    height: var(--bt-appbar-height);
    border-bottom: 1px solid teal;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
}

.mud-button {
    text-transform: capitalize;
}

.mud-chip {
    overflow-wrap: break-word;
}

.mud-navmenu.mud-navmenu-default .mud-nav-link.active:not(.mud-nav-link-disabled) {
    color: #eaff00;
    background-color: #373737;
}

.mud-nav-link.active:not(.mud-nav-link-disabled) {
    color: green;
}

.mud-nav-link-disabled {
    background: transparent;
}

@media (min-width: 960px) {
    .mud-drawer-open-responsive-md-left.mud-drawer-left-clipped-never .mud-appbar {
        margin-left: 0;
        width: inherit;
    }
}

/* Disable all animations and transitions for elements within the drawer */
.mud-drawer, .mud-drawer * {
    transition: none !important;
    animation: none !important;
    /* Ensure the opacity is correct when visible without a transition */
    opacity: 1 !important;
}

.mud-typography {
    overflow-wrap: break-word;
}

/* Prevent accidental text selection on interactive control labels */
.mud-checkbox .mud-typography,
.mud-radio .mud-typography,
.mud-button,
.mud-icon-button,
.mud-tab,
.mud-nav-link,
.mud-list-item,
.mud-chip,
.mud-select-item,
.mud-menu-item,
.mud-treeview-item,
.mud-switch .mud-typography,
.mud-slider .mud-typography {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.bt-sad-1 {
    align-items: center;
}

.bt-sad-2 {
    margin-left: 0.86rem;
    min-width: 100%;
    display: flex;
    align-items: center;
}

.bt-sad-3 {
    display: inline-block;
    width: inherit;
}

.bt-sad-4 {
}

.bt-sad-5 {
    padding-left: 0.57rem;
    padding-right: 0.57rem;
    padding-top: 0;
    padding-top: 0;
}

.bt-sad-6 {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 13.93rem;
}

.bt-sad-8 {
    float: right;
}

.bt-body-page {
    height: inherit;
    min-height: inherit;
}

.bt-page-title {
    font-size: 1.2rem;
    font-weight: 700;
}

/* bt-main is used in on many pages, typically with the preceeding classes: d-flex flex-column??? gap-3 d-flex */
.bt-main {
    height: calc(100vh - var(--bt-appbar-height) - var(--bt-buttontray-height));
    overflow-y: auto;
    padding-left: 1.14rem;
    padding-right: 0; /* so that scrollbars hug right edge */
    padding-top: 0.71rem;
}

.bt-main-inside-scroll {
    padding-right: 1.14rem;
    width: 100%;
}

.bt-main-content {
    position: relative;
    padding-top: 0;
}



.bt-button-tray {
    justify-content: flex-end;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    height: var(--bt-buttontray-height);
}

.bt-button-wrap {
    text-transform: unset !important;
    width: max-content;
    align-self: center;
    line-height: normal;
    height: -webkit-fill-available;
}


.bt-stack-item {
    justify-content: flex-end;
    padding-left: 1.07rem;
    padding-right: 1.07rem;
    align-items: center;
    height: 3.429rem;
}

.bt-identicon {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
}

.bt-logo-button {
    align-self: center;
}

.bt-favicon {
    width: 1.14rem;
    height: 1.14rem;
    align-self: center;
    margin-right: 0.28rem;
}

.bt-text-ellipsis {
    height: 1.5em;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.bt-info-icon {
    height: 1.07rem;
    color: lightslategray;
    position: relative;
    top: 0.71rem;
}

.bt-terms-section {
    border-style: solid none solid none;
    border-width: 2px;
    position: relative;
    margin-right: 1.14rem;
}

.bt-terms-button {
    color: var(--mud-palette-primary);
    justify-content: right;
    position: relative;
    border-radius: unset;
    top: 3.93rem;
    margin-top: -3.93rem;
    z-index: 999;
}

.bt-terms-markup {
    position: relative;
}

    .bt-terms-markup ul, .bt-terms-markup ol {
        margin: revert;
        padding: revert;
        list-style: disc;
    }

    .bt-terms-markup li {
        all: revert;
        margin-top: 0.5em;
    }
