<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  
  <!-- No fallback folders -->
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
  
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>
  
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>