@code {
    [CascadingParameter] IMudDialogInstance? MudDialog { get; set; }

    [Parameter] public string Prefix { get; set; } = "";
    [Parameter] public string? Name { get; set; }

    private void SelectInvite() => MudDialog?.Close(DialogResult.Ok("invite"));
    private void SelectReceive() => MudDialog?.Close(DialogResult.Ok("receive"));
    private void Cancel() => MudDialog?.Cancel();
}

<MudDialog>
    <DialogContent>
        <AidPrefixDisplay Prefix="@Prefix" Name="@Name" ShowCopyButton="false" />    
        <MudText Typo="Typo.body1" Class="mb-3 mt-3">
            To connect your active profile (above) with another party, each side must:
        </MudText>
        <ul style="margin: 0; padding-left: 20px;">
            <li class="mt-2">
                <MudStack Row="true" AlignItems="AlignItems.End" Justify="Justify.SpaceBetween" Wrap="Wrap.Wrap" Spacing="2">
                    <MudText Typo="Typo.body1" Style="flex: 1 1 auto; ">share their introduction (as a string or QR code), and</MudText>
                    <MudButton OnClick="SelectInvite"
                        Variant="Variant.Outlined"
                        Color="Color.Primary"
                        Style="text-transform: none; flex-shrink: 0; margin-left: auto;">
                        Share my introduction
                    </MudButton>
                </MudStack>
            </li>
            <li class="mt-2">
                <MudStack Row="true" AlignItems="AlignItems.End" Justify="Justify.SpaceBetween" Wrap="Wrap.Wrap" Spacing="2">
                    <MudText Typo="Typo.body1" Style="flex: 1 1 auto;">get and resolve the other's introduction. A new outbound connection will then appear in your Connections list.</MudText>
                    <MudButton OnClick="SelectReceive"
                        Variant="Variant.Outlined"
                        Color="Color.Primary"
                        Style="text-transform: none; flex-shrink: 0; margin-left: auto;">
                        Get and resolve their introduction
                    </MudButton>
                </MudStack>
            </li>
        </ul>

    </DialogContent>
    @*
    <DialogActions>
        <MudButton OnClick="Cancel" Color="Color.Secondary" Variant="Variant.Text">Close</MudButton>
    </DialogActions>
    *@
</MudDialog>
