@code {
    [CascadingParameter] IMudDialogInstance? MudDialog { get; set; }

    [Parameter] public string Prefix { get; set; } = "";
    [Parameter] public string? Name { get; set; }

    private void SelectInvite() => MudDialog?.Close(DialogResult.Ok("invite"));
    private void SelectReceive() => MudDialog?.Close(DialogResult.Ok("receive"));
    private void Cancel() => MudDialog?.Cancel();
}

<MudDialog>
    <DialogContent>
        <AidPrefixDisplay Prefix="@Prefix" Name="@Name" ShowCopyButton="false" />    
        <MudText Typo="Typo.body1" Class="mb-3 mt-3">
            To connect your active profile (above) with another party, each side must:
        </MudText>

        <MudText Typo="Typo.body1" Class="mb-3 mt-3">
            1) share their introduction (as a string or QR code), and
        </MudText>

        <div style="display: flex; justify-content: flex-end; gap: 8px;">
        <MudButton OnClick="SelectInvite"
            Variant="Variant.Outlined"
            Color="Color.Primary"
            Style="margin-left: 16px; text-transform: none;">
            Share my introduction
        </MudButton>
        </div>

        <MudText Typo="Typo.body1" Class="mb-3 mt-3">
            2) get and resolve the other's introduction.
        </MudText>
        <MudText Typo="Typo.body1" Class="mb-3">
            A new outbound connection will then appear in your Connections list.
        </MudText>
        
        <div style="display: flex; justify-content: flex-end; gap: 8px;">
        <MudButton OnClick="SelectReceive"
            Variant="Variant.Outlined"
            Color="Color.Primary"
            Style="margin-left: 16px; text-transform: none;">
            Get and resolve their introduction
        </MudButton>
        </div>

    </DialogContent>
    @*
    <DialogActions>
        <MudButton OnClick="Cancel" Color="Color.Secondary" Variant="Variant.Text">Close</MudButton>
    </DialogActions>
    *@
</MudDialog>
