@using Microsoft.VisualBasic
@using Extension.Services.Storage
@using System.Diagnostics.CodeAnalysis
@inject ILogger<CredentialCardWrapper> logger
@inject IJSRuntime js
@inject ISnackbar snackbar
@inject IStorageService storageService

@code {
    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? HeaderActions { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Footer { get; set; }

    [Parameter] public bool IsDense { get; set; }
    [Parameter] public string? Style { get; set; }

    private string CardClass => IsDense ? "pa-2 rounded-xl" : "pa-4 rounded-xl";
}

<MudCard Class="@CardClass" Elevation="1" Style="@Style">
    <MudCardContent>
        @if (Header is not null)
        {
            <div class="d-flex align-center justify-space-between">
                @Header
                @if (HeaderActions is not null)
                {
                    <div class="d-flex align-center">
                        @HeaderActions
                    </div>
                }
            </div>
            <MudDivider Class="my-2" />
        }

        @ChildContent
    </MudCardContent>

    @if (Footer is not null)
    {
        <MudDivider />
        <MudCardActions>
            @Footer
        </MudCardActions>
    }
</MudCard>
