@page "/Delete.html"
@using Extension.Services.Storage
@using Extension.Services
@inject IJSRuntime js
@inject NavigationManager navManager
@inject IStorageService storageService
@using static Extension.AppConfig;
@inject IDialogService dialogService
@inject ILogger<DeletePage> logger
@using static Extension.Helper.PreviousPage

<div id="@this.GetType().Name" class="bt-body-page">
    <div class="d-flex gap-3 bt-main">
        <div class="bt-main-inside-scroll">
            <MudText Typo="Typo.h6">Delete Local Configuration</MudText>
            <MudStack class="d-flex mt-2 justify-center">
                <MudText>Are you sure you want to delete your local configuration? </MudText>
                <MudText>
                    If in the future you want to reconnect to your same KERI Agent Service to access your agent, identifiers, credentials, and other data there, make sure you have its URLs and your passcode safely recorded.
                </MudText>
            </MudStack>
        </div>
    </div>
    <MudStack Row="true" class="bt-button-tray">
        <MudIconButton Icon="@Icons.Material.Filled.ArrowBackIosNew" Variant="Variant.Text" OnClick='@( async () => await GoBack(js) )' Class="justify-start" />
        <MudSpacer></MudSpacer>
        <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="async () => await DeleteWallet()" Class="justify-end">Delete</MudButton>
    </MudStack>
</div>

@code {
    private async Task DeleteWallet()
    {
        bool isRemoveConfirmed;

        // show a dialog to confirm deletion
        var result = await dialogService.ShowMessageBox(
            "Delete Configuration",
            $"Are you sure you want to delete your local configuration?",
            yesText: "Yes, Delete",
            cancelText: "Cancel",
             options: new DialogOptions()
                 {
                     CloseOnEscapeKey = true,
                 }
         );
        isRemoveConfirmed = result.GetValueOrDefault();
        if (isRemoveConfirmed)
        {
            // Clear all storage areas using StorageService
            await storageService.Clear(StorageArea.Local);
            await storageService.Clear(StorageArea.Sync);
            await storageService.Clear(StorageArea.Session);

            // restart the app
            navManager.NavigateTo(RouteToIndexHtml, forceLoad: true, replace: true);
        } else
        {
            navManager.NavigateTo(RouteToDashboard);
        }
    }
}
