@page "/Connecting.html"
@using Extension.Services.Storage

@using Extension.Utilities
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using static System.Net.WebRequestMethods

@inject IStorageService storageService
@inject ILogger<ConnectingPage> logger
@inject HttpClient http
@inject NavigationManager navManager
@inject IJSRuntime js
@inject ISignifyClientService signifyClientService
@inject ISnackbar snackbar
@inject AppCache appCache  // Non-reactive here unless/until SubscribeToAppCache() is added in OnInitializedAsync

<div id="@this.GetType().Name" class="bt-body-page">
    <MudStack Class="bt-main">
        <div class="bt-main-inside-scroll">
            <MudStack Row="true">
                <MudText Class="bt-page-title">Connecting to KERIA Service...</MudText>
            </MudStack>
            <div style="height: 70vh; background-color:transparent; align-items:center; justify-content: center; display:flex;">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large" />
            </div>
        </div>
    </MudStack>
    <MudStack Row="true" class="bt-button-tray">
        <MudSpacer></MudSpacer>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => navManager.NavigateTo(Routes.PathFor<Index>()))" Class="justify-end" data-testid="next">Next</MudButton>
    </MudStack>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        logger.LogInformation("OnInitializedAsync");
        var res = await ConnectAndFetchIdentifiers();
        if (res.IsSuccess)
        {
            await appCache.WaitForAppCache([() => appCache.MyKeriaConnectionInfo.IdentifiersList is not null && appCache.MyKeriaConnectionInfo.IdentifiersList.Count > 0]);
            navManager.NavigateTo(Routes.PathFor<Index>());
        }
    }

    private async Task<Result> ConnectAndFetchIdentifiers()
    {
        var connectRes = await signifyClientService.Connect(appCache.MyKeriaConnectConfig.AdminUrl!, appCache.MyPasscodeModel.Passcode, appCache.MyKeriaConnectConfig.BootUrl, false);
        if (connectRes is null || connectRes.IsFailed)
        {
            var openWalletError = "Could not connect to KERIA Cloud Service";
            snackbar.Add(openWalletError, Severity.Error);
            logger.LogWarning(openWalletError);
            return Result.Fail(openWalletError);
        }
        else
        {
            // Confirm Client and Agent AIDs are as expected from initial connection response
            if (connectRes.Value.Controller?.State?.I != appCache.MyKeriaConnectConfig.ClientAidPrefix)
            {
                var msg = "Connected KERIA Client AID does not match expected value";
                logger.LogError(msg);
                snackbar.Add(msg, Severity.Error);
                return Result.Fail(msg);
            }
            if (connectRes.Value.Agent?.I != appCache.MyKeriaConnectConfig.AgentAidPrefix)
            {
                var msg = "Connected KERIA AID does not match expected value";
                logger.LogError(msg);
                snackbar.Add(msg, Severity.Error);
                return Result.Fail(msg);
            }

            var identifiersRes = await signifyClientService.GetIdentifiers();
            if (identifiersRes.IsFailed)
            {
                throw new IndexOutOfRangeException("expected to retrieve identifiers from GetIdentifiers()");
            }
            var identifiers = identifiersRes.Value;

            // store updated KeriConnectionInfo in session storage
            var updatedKeriConnectionInfo = appCache.MyKeriaConnectionInfo with
            {
                AgentPrefix = connectRes.Value.Agent!.I,
                Config = appCache.MyKeriaConnectConfig,
                IdentifiersList = [identifiers]
            };
            var setResult = await storageService.SetItem<KeriaConnectionInfo>(updatedKeriConnectionInfo, StorageArea.Session);
            if (setResult.IsFailed)
            {
                var msg = "Failed to store KERI connection info";
                logger.LogError("{msg}: {Errors}", msg, string.Join(", ", setResult.Errors));
                snackbar.Add(msg, Severity.Error);
                return Result.Fail(msg);
            }
            // Assure AppCache is updated before next re-route via index page load
            await appCache.WaitForAppCache([() => !string.IsNullOrEmpty(appCache.MyKeriaConnectionInfo.Config.ClientAidPrefix)]);

            logger.LogInformation("Connected to KERIA");
            return Result.Ok();
        }
    }
}
