@page "/OfferPasskey.html"
@layout Layouts.MainLayout
@using Extension.Services.Storage
@using static Extension.AppConfig

@inject NavigationManager navManager
@inject ILogger<OfferPasskeyPage> logger
@inject IJSRuntime js

@code {
    protected override void OnInitialized()
    {
        logger.LogInformation("OfferPasskeyPage OnInitialized");
    }

    void AcceptOffer()
    {
        logger.LogInformation("User accepted passkey offer");
        App.OfferCreatePasskeyState = OfferCreatePasskeyState.Yes;
        navManager.NavigateTo(Routes.PathFor<Index>());
    }

    void DeclineOffer()
    {
        logger.LogInformation("User declined passkey offer");
        App.OfferCreatePasskeyState = OfferCreatePasskeyState.No;
        navManager.NavigateTo(Routes.PathFor<Index>());
    }
}

<div id="@this.GetType().Name" class="bt-body-page">
    <MudStack Class="bt-main">
        <div class="bt-main-inside-scroll">
            <MudText Typo="Typo.h6">Create Passkey?</MudText>
            <MudStack Class="mt-4">
                <MudText>
                    Optionally create a convenient passkey that lets you unlock KERI Auth instead of typing your passcode.
                </MudText>
                <MudText Class="mt-4">
                    You still must securely store and protect your passcode, as it may be later required.
                </MudText>
                <MudText Class="mt-4">
                    Create or manage passkeys later from the Passkeys page in the menu.
                </MudText>
            </MudStack>
        </div>
    </MudStack>
    <MudStack Row="true" class="bt-button-tray">
        <MudSpacer />
        <MudButton Variant="Variant.Text" OnClick="DeclineOffer">Maybe Later</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AcceptOffer">Create Passkey</MudButton>
    </MudStack>
</div>
