@page "/Welcome.html"
@layout MainLayout
@using Extension.Services.Storage
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using static System.Net.WebRequestMethods

@inject IStorageService storageService
@inject ILogger<WelcomePage> logger
@inject HttpClient http
@inject NavigationManager navManager
@inject IJSRuntime js
@inject ISnackbar snackbar
@inject AppCache appCache  // Non-reactive here unless/until SubscribeToAppCache() is added in OnInitializedAsync

@code {
    // fields
    MudButton? nextButton;

    // properties

    // reactive properties


    protected override async Task OnInitializedAsync()
    {
        logger.LogInformation("OnInitializedAsync");
    }

    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (isFirstRender && nextButton is not null)
            await nextButton.FocusAsync();
    }

    async Task AcknowledgeWelcome()
    {
        logger.LogInformation("AcknowledgeWelcome...");
        var newOnboardState = appCache.MyOnboardState with { IsWelcomed = true };
        await storageService.SetItem<OnboardState>(newOnboardState);
        logger.LogInformation("AcknowledgeWelcome set onboardState");
        navManager.NavigateTo(Routes.PathFor<Index>());
        return;
    }
}

<div id="@this.GetType().Name" class="bt-body-page">
    <div class="d-flex gap-3 bt-main">
        <div class="bt-main-inside-scroll">
            <MudText Class="bt-page-title">Welcome</MudText>
            <MudStack>
                <MudText Typo="Typo.body1">
                    Thank you for installing the KERI Auth Identity Wallet
                </MudText>
                <MudText Class="bt-terms-markup mud-typography mud-typography-body1">
                    Features Include:
                    <ol>
                        <li>Connect to a KERIA Cloud Service provided by a vendor or that you've self-hosted</li>
                        <li>Unlock with passcode</li>
                        <li>Optionally, create a passkey for unlocking</li>
                        <li>Create and use one or more profiles</li>
                        <li>View credentials</li>
                        <li>
                            Interact with websites that support the polaris-web protocol:
                            <ul>
                                <li>
                                    Allow KERI Auth to interact:
                                    <ul>
                                        <li>Manually, by pressing the extension's action icon (in top-right corner of browser's window, or click extension puzzle-piece icon)</li>
                                        <li>Automatically, on website load if previously allowed</li>
                                    </ul>
                                </li>
                                <li>Respond to requests from website:</li>
                                <ul>
                                    <li>Present profile or credential for authorization</li>
                                    <li>Sign HTTP Request Header to authorize access to web resources</li>
                                    <li>Create data attestation (e.g. for upload file)</li>
                                    <li>... and more</li>
                                    @* // TODO P2 <li>(future) Sign and issue a credential</li>
                                    *@
                                </ul>
                            </ul>
                        </li>
                    </ol>
                </MudText>
                <!-- 
                <MudText Typo="Typo.body1">For more information, see <a href="https://keriauth.com" target="blank">keriauth.com</a>.</MudText>
                -->
            </MudStack>
        </div>
    </div>
    <MudStack Row="true" class="bt-button-tray">
        <MudSpacer></MudSpacer>
        <MudButton @ref="nextButton" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(async () => await AcknowledgeWelcome())" Class="justify-end" data-testid="next">Next</MudButton>
    </MudStack>
</div>
